*.idea
.DS_Store
/build
compile_commands.json
.*CommandMarker
__pycache__
CLAUDE.md
/FuE_Greifen-main
GEMINI.md
.venv/
/calibration.json
/robot_cam_handeye_calibration.json
/robot_cam_handeye_3positions_calibration.json
/base_cam_fused_extrinsics.json
